/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  image-rendering: pixelated;
}

/* -- Шапка -- */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 100px;
  font-family: var(--font-accent);
  
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--header-width);
  border: 2px solid #000;
  background-color: #fff;
  min-block-size: 368px;
}

.header__title {
  font-size: var(--title-font-size);
}

.header__subtitle {
  font-size: var(--subtitle-font-size);
}

/* -- Карточки -- */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--card-width);
  margin-block-end: 50px;
  border: 2px solid #000;
  background-color: #fff;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-inline: 25px;
  font-size: var(--card-title-font-size);
  
}

.card__title {
  padding-inline-start: 10px;
  padding-block-end: 5.5px;
  font-size: var(--card-title-font-size);
  border: 2px solid #000;
}

.card__image {
  display: block;
  width: 100%;
  border: 2px solid #000;
  
}



.card__image-wrapper {
  position: relative;
  display: block;
  width: clamp(371px, 100%, 696px);
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  all: unset;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 1.4rem;
  padding-block-end: 25px;
}

.card__like-button {
  border: none;
  outline: 2px solid #000;
  background-color: transparent;
}


/* -- watermark -- */

.card__watermark,
.card__watermark-fallback {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  mix-blend-mode: hard-light;
}

.card__watermark-fallback {
  display: none;
  padding: 2px 4px;
  color: #000;
  font-family: var(--font-accent);
  font-size: 1.4rem;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 var(--outline-color),
     1px -1px 0 var(--outline-color),
    -1px  1px 0 var(--outline-color),
     1px  1px 0 var(--outline-color);
}

@supports (-webkit-text-stroke: 1px var(--outline-color)) {
  .card__watermark-fallback {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--outline-color);
  }
}

/* -- Кнопка сохранить -- */

.card__save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-end: 103px;
  outline: 2px solid #000;
  inline-size: 335px;
  min-block-size: 55px;
}

/* -- Фильтры для изображений -- */

.card__image--warm {
  filter: var(--filter-image-warm);
}

.card__image--psy {
  filter: var(--filter-image-psy);
}

.card__image--sepia {
  filter: var(--filter-image-sepia);
}

.card__image--mint {
  filter: var(--filter-image-mint);
}

.card__image--gray {
  filter: var(--filter-image-gray);
}

.card__image--blur {
  filter: var(--filter-image-blur);
  
}

.card__image--red {
  filter: var(--filter-image-red);
}

/* --Модальное окно-- */

.modal {
  display: none;
  border: 2px solid black;
  padding: 30px;
  color: black;
  font-family: var(--font-accent);
  text-align: center;
  background-color: #fff;
  max-inline-size: 353px;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* --Контент модального окна-- */

.modal__content{
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-accent);
  line-height: 150%;
  text-transform: uppercase;
}

.modal__column {
  display: flex;
  align-items: center;
  text-align: start;
}

.modal__text {
  font-size: 1.4rem;
  line-height: 22px;
}

.modal__button {
  border: 2px solid black;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 293px;
  min-block-size: 38px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

@media (width <= 375px) {


}

