/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --wght: 400;
  --wdth: 100;
  --card-title-weight: 700;
  --card-text-weight: 400;
  --title-font-size: clamp(4.7rem, 6vw, 6.2rem);
  --subtitle-font-size: clamp(1.4rem, 2.5vw, 2.2rem);
  --header-width: clamp(375px, 100%, 700px);
  --card-width: clamp(375px, 100%, 696px);
  --card-title-font-size: 1.8rem;
}
